
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="iletisim">Hakkımızda</h1>
</div>
<hr />

<div class="row">
    <div class="col"></div>
    <div class="col">
        <p>2021 yılından bu güne siz değerli misafirlerimize hizmet etmekten mutluluk duymaktayız.</p>
        <p>Sizlerin isteklerine en iyi şekilde cevap verebilmek için randevu şeklinde hizmet vermekteyiz.</p>
        <p>Butik çalışma prensibine sahip, tıraşınız yapılırken sizlerin rahatı için gereken konfor, donanım ve tecrübeye sahip bir işletme olduğumuzu bilmenizi isteriz..</p>

        <p>İstanbul’un en güzel semtlerinden Bağdat Caddesinde modern beyler için salonumuz hizmetine devam etmektedir.</p>
        <p>Güzel günler dileriz..</p>.
    </div>
    <div class="col"></div>
</div>
<img class="img3" src="~/css/hakkimizda/Hizmetlerimiz23.png" />

