@{
    ViewData["Title"] = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>
    <h1 class="hizmetlerimiz">Hizmetlerimiz</h1>
</div>
<hr />

<div class="row">
    <div class="col"></div>
    <div class="col">Berber Salonu olarak, güzellik ve bakımın her yönünü kapsayan kapsamlı bir hizmet sunuyoruz. Sizi güzelleştirmek ve kendinizi özel hissettirmek için buradayız. İhtiyaçlarınıza uygun olarak size özel hizmetler sunmak için kuaför salonumuza bekliyoruz.</div>
    <div class="col"></div>
</div>

<img class="img3" src="~/css/NewFolder1/Hizmetlerimiz.png" />


<div>
    <h1 class="hizmetlerimiz2">Bay Bölümü</h1>
    <hr />
</div>


<div class="row" style="margin-bottom:7vh">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"  style="height:350px">
        <img class="A" src="~/css/NewFolder2/1.png" />
        <p  class="B">Sakal Kesim</p>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3" style="height:300px">
        <img class="A" src="~/css/NewFolder2/2.png" />
        <p class="B">Saç Kesim</p>
        
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3" style="height:300px">
        <img class="A" src="~/css/NewFolder2/3.png" />
        <p class="B">Fön</p>
       
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3" style="height:300px">
        <img class="A" src="~/css/NewFolder2/4.png" />
        <p class="B">Boya</p>
       
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3" style="height:300px">
        <img class="A" src="~/css/NewFolder2/5.png" />""
        <p class="B">Damat Tıraşı</p>
       
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3" style="height:300px">
        <img class="A" src="~/css/NewFolder2/6.png" />
        <p class="B">Çocuk Saç Kesim</p>
      
    </div>
</div>


